.OrderSection {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  max-height: 195px;
  width: 80vw;
  margin: 30px 20px 0 20px;
  box-shadow: -1px 0 10px black;
  transition: transform 100ms ease-out;
}

section.OrderSection:first-child {
  margin-top: 30px;
}

.OrderSection img {
  width: 100%;
  height: 74%;
}

.OrderSection:hover {
  transform: scale(1.04);
}

.OrderSection > div {
  margin-top: 0;
}

.OrderSection .Title {
  width: 100%;
  height: 26%;
  min-height: 35px;
  background-color: #cc08088c;
  text-align: center;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OrderSection .Title h2 {
  font-size: 1.225rem;
}

@media screen and (max-width: 550px) {
  .OrderSection .Title h2 {
    font-size: 1.3rem;
  }
}
