@use "sass:color" as col;
@use "../../styles/colors.scss";

.OrderSection {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  max-height: 230px;
  width: 90vw;
  margin: 20px 20px 0 20px;
  box-shadow: -1px 0 10px black;
  transition: transform 60ms ease-out;
}

section.OrderSection:first-child {
  margin-top: 20px;
}

.OrderSection img {
  width: 100%;
  height: 75%;
}

.OrderSection:hover {
  transform: scale(1.01);
}

.OrderSection > div {
  margin-top: 0;
}

.OrderSection .Title {
  width: 100%;
  height: 25%;
  min-height: 35px;
  background-color: col.adjust(
    colors.$interact,
    $lightness: 20%
  );
  text-align: center;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OrderSection .Title h2 {
  font-size: 1.1rem;
}

.OrderSection .Title > input {
  height: 100%;
  width: 100%;
  padding: 6px 7.5px;
  padding-top: 10.5px;
  font-size: 1.3rem;
  border: none;
  border-top: 4px solid #303030;
}

.custom img {
  height: 75%;
}

.custom > .Title {
  padding: 0;
  height: 25%;
}

@media screen and (max-width: 550px) {
  .OrderSection .Title h2 {
    font-size: 1.3rem;
  }
  .OrderSection {
    margin-left: 0;
    margin-right: 0;
  }
}
