.Orders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

@media screen and (max-width: 550px) {
  .Orders {
    flex-direction: column;
  } 
}