.AboutUsContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

@media screen and (max-width: 550px) {
  .AboutUsContent {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
