.AboutUsContent {
  width: 100%;
  margin-top: 20px;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
  .AboutUsContent {
    height: auto;
    display: flex;
    flex-direction: column;
  } 
}