.AboutUsSection {
  display: flex;
  flex-direction: column;
  margin: 25px 20px;
}

.Heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  height: 1rem;
}

.Logo {
  height: 300%;
  width: auto;
  transform: translateY(-15%);
  opacity: 0.4;
  margin-left: 1rem;
}