.Rating {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  height: 2rem;
}

.Star {
  height: 100%;
  width: auto;
  margin: 0.2rem;
}

.NonActive {
  opacity: 0.5;
}
