.Review {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 1px solid white;
  height: 70%;
  max-height: 500px;
  width: 30%;
  min-width: 305px;
  max-width: 400px;
  padding: 20px;
  margin: 40px 20px;
}

.Review > div {
  margin-bottom: 15px;
}

.Review > h2 {
  margin-bottom: 5px;
}

.Image {
  height: 196px;
  width: 196px;
  border-radius: 50%;
}

.Name {
}

.Text {
  min-height: 133px;
  height: 50%;
  width: 110%;
  padding: 0 5%;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: #2d3250 rgba(255, 255, 255, 0.6);
}

.Text::-webkit-scrollbar {
  width: 8px;
}
.Text::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.6);
}
.Text::-webkit-scrollbar-thumb {
  background-color: #2d3250;
}