.Review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  max-height: 520px;
  min-width: 275px;
  max-width: 350px;
  padding: 20px;
  padding-bottom: 10px;
  margin: 30px 20px;
  margin-top: 0;
  box-shadow: inset 0 0 10px black;
}

.Review > div {
  margin-bottom: 15px;
}

.Review > h2 {
  margin-bottom: 5px;
}

.Image {
  height: 196px;
  width: 196px;
  border-radius: 50%;
}

.Text {
  min-height: 133px;
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px black;
  margin-top: 7.5px;
  height: 50%;
  width: 107%;
  padding: 0 5%;
  padding-top: 7.5px;
  padding-left: 2%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #20273a;
}

.Text::-webkit-scrollbar {
  width: 8px;
}
.Text::-webkit-scrollbar-track {
  background-color: #20273a;
}
.Text::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
