.Review {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid white;
  width: 250px;
}

.Review > div {
  margin-bottom: 15px;
}

.Review > h2 {
  margin-bottom: 5px;
}

.Image {
  border-radius: 50%;
  overflow: hidden;
  width: auto;
  height: auto;
}

.Name {
}

.Text {
  height: 200px;
  overflow-y: auto;
}
