.Query {
  padding: 1rem;
  background-color: #8a1133;
}

.TotalOrderTree {
  margin: 20px 0 15px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.TotalOrderTree > div {
  display: flex;
  align-items: center;
  text-align: center;
}

.TotalOrderTree > div > div > p {
  border-bottom: 1px solid white;
}

.TotalOrderTree > div > img {
  height: 20px;
  margin: 15px;
}
