.TotalOrderForm {
  max-width: 750px;
  padding-right: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}

.TotalOrderForm > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.TotalOrderForm > div > section {
  width: auto;
  flex-grow: 1;
  margin-top: 15px;
}
.TotalOrderForm > div > section:first-child {
  margin-top: 15px;
  margin-right: 15px;
}
.MinInput {
  min-width: 200px;
  max-width: 300px;
}

.TotalOrderForm > button {
  margin: 25px 0;
}

.MainButton {
  align-self: flex-end;
}

.FileInput {
  display: none;
}

button.FileInputWrapper {
  padding: 0;
  cursor: pointer;
}
.FileInputWrapper > label {
  line-height: 2.4rem;
  padding: 0 20px;
}

.CommentInput {
  resize: vertical;
  height: 5rem;
}
