@use "../../styles/colors.scss";

.Query {
  padding: 1rem;
  background-color: #00396D;
}

.tree {
  margin: 0 auto 15px auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tree > p, .work {
margin: 0 10px;
margin-top: 5px
}

.tree > div > img {
  height: 20px;
  margin: 10px;
}

@media screen and (max-width: 550px){
  .tree > div {
    min-width: 30%;
    justify-content: center;
  }
}