.Query {
  padding: 1rem;
  background-color: #8a1133;
}

.TotalOrderTree {
  margin-top: 0;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.TotalOrderTree > img {
  height: 20px;
  margin: 10px;
}