// COLOR
// $theme: #0b4d13;
// $anti-theme: #ffffff;
// $bold: #ffed9f;
// $interact: #00396D;

$theme: #97dd9e;
$anti-theme: #303030;
$bold: #3b3983;
$interact: #97dd9e;

$background: #ededed;
$background-work: #d3f5d6;

// $theme: black;
// $anti-theme: black;
// $bold: black;
// $interact: black;
