@tailwind components;

@layer components {
  /* GENERAL */
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* FONT */
  .numbers {
    @apply font-['Nunito'] font-light;
  }
  .body2 {
    @apply text-body2 font-base font-normal;
  }
  .txt-button {
    @apply text-button font-base font-normal;
  }
  .button-lg {
    @apply text-button-lg font-base font-normal;
  }
  .subtitle1 {
    @apply text-subtitle1 font-base font-normal;
  }
  .large {
    @apply text-large font-base font-semibold;
  }
  .heading {
    @apply text-heading font-strong font-bold max-w-[992px] lg:mx-auto lg:text-desktop-heading;
  }
  .hero {
    @apply text-hero font-strong font-extrabold;
  }
  /* COMPONENTS */
  .section-light {
    @apply pt-[50px] pb-[55px] px-[35px] max-w-[540px] bg-light text-black md:text-center lg:px-[202px] lg:pt-[78px] lg:pb-[82px] md:max-w-[1366px] mx-auto shadow-section;
  }
  .section-dark {
    @apply pt-[50px] pb-[55px] px-[35px] max-w-[540px] bg-dark text-white md:text-center lg:px-[202px] lg:pt-[78px] lg:pb-[82px] md:max-w-[1366px] mx-auto shadow-section;
  }
  .button {
    @apply txt-button py-2.5 px-[30px] transition-colors duration-150 lg:duration-200 ease-out bg-primary text-black hover:bg-primary-dark text-center lg:py-[13px] lg:pt-3 lg:px-[40px];
  }
  .fade-out-hover {
    @apply hover:opacity-[0.78] transition-opacity duration-75 lg:duration-[125ms] ease-out;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(50px);
    opacity: 0.75;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes shake {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-2px);
  }
  75% {
    transform: translate(1px);
  }
  to {
    transform: translate(-1px);
  }
}

.privacy-page > h3 {
  @apply subtitle1 mb-2;
}
.privacy-page > p {
  @apply mb-6 text-[0.9rem];
}

.overscroll {
  scrollbar-width: thin;
}
