@tailwind components;

@layer components {
  /* GENERAL */
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* FONT */
  .body2 {
    @apply text-body2 font-base font-normal;
  }
  .txt-button {
    @apply text-button font-base font-normal;
  }
  .button-lg {
    @apply text-button-lg font-base font-normal;
  }
  .subtitle1 {
    @apply text-subtitle1 font-strong font-normal;
  }
  .large {
    @apply text-large font-strong font-semibold;
  }
  .heading {
    @apply text-heading font-strong font-bold;
  }
  .hero {
    @apply text-hero font-strong font-extrabold;
  }
  /* LAYOUT */
  .section-light {
    @apply pt-[50px] pb-[55px] bg-white-dark;
  }
  .section-dark {
    @apply pt-[50px] pb-[55px] bg-black-light;
  }
  /* COMPONENTS */ 
  .button {
    @apply txt-button px-[30px] py-[11px]
  }
}
