// SETTINGS
$body-ff: Roboto, -apple-system, "Open Sans", Raleway, sans-serif;
$heading-ff: Rubik, Roboto, -apple-system, "Open Sans", Raleway, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 16px;
  font-family: $body-ff;
}

*:focus {
  outline: 1px dashed;
}
button:focus {
  outline: none;
}

// ANIMATIONS
.vertical-large-fading {
  animation: vertical-large-fade 650ms ease-in-out;
}
.large-fading {
  animation: large-fade 600ms ease-in-out;
}
.fading {
  animation: fade 600ms ease-out;
}

@keyframes vertical-large-fade {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes large-fade {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// RESPONSIVE FONT
/* xlarge - desktop */
@media (min-width: 1568px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1568px) {
  html {
    font-size: 15.5px;
  }
}

/* medium - tablet */
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

/* xsmall - mobile */
@media (max-width: 500px) {
  html {
    font-size: 12.5px;
  }
}

/* just to see */
@media (max-width: 376px) {
  html {
    font-size: 12px;
  }
}
