// @use "colors.scss";

// #root {
//   width: 100%;
//   height: 100%;
// }

* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed;
}
button:focus {
  outline: none;
}

.vertical-large-fading {
  animation: vertical-large-fade 650ms ease-in-out;
}
.large-fading {
  animation: large-fade 600ms ease-in-out;
}
.fading {
  animation: fade 600ms ease-out;
}

@keyframes vertical-large-fade {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes large-fade {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// /* LAPTOP */
// @media screen and (max-width: 1400px) {
//   :root {
//     font-size: 17.5px;
//   }
// }

// /* MOBILE */
// @media screen and (max-width: 550px) {
//   :root {
//     font-size: 15px;
//   }
// }
