// SETTINGS
$body-ff: Roboto, -apple-system, "Open Sans", Raleway, sans-serif;
$heading-ff: Rubik, Roboto, -apple-system, "Open Sans", Raleway, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 16px;
  font-family: $body-ff;
}

*:focus {
  outline: 1px dashed;
}
button:focus {
  outline: none;
}

// ANIMATIONS
.vertical-large-fading {
  animation: vertical-large-fade 650ms ease-in-out;
}
.large-fading {
  animation: large-fade 600ms ease-in-out;
}
.fading {
  animation: fade 600ms ease-out;
}
.invisible {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.visible {
  opacity: 1;
  position: relative;
  z-index: 3;
  box-shadow: 0.5px 2px 5px 2px rgba(0, 0, 0, 25%);
}
.fading-left {
  animation: fade-left 550ms ease-out;
}
.fading-right {
  animation: fade-right 550ms ease-out;
}
.fading-in-right {
  animation: fade-in-right 450ms ease-out;
}
.fading-in-left {
  animation: fade-in-left 450ms ease-out;
}

@keyframes vertical-large-fade {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes large-fade {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translate(20%, 2%) scale(0.8);
    opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translate(-20%, 2%) scale(0.8);
    opacity: 0;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translate(-10%, 2%) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    transform: translate(10%, 2%) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// RESPONSIVE FONT
/* xlarge - desktop */
@media (min-width: 1568px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1568px) {
  html {
    font-size: 15.5px;
  }
}

/* medium - tablet */
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

/* xsmall - mobile */
@media (max-width: 500px) {
  html {
    font-size: 12.5px;
  }
}

/* just to see */
@media (max-width: 376px) {
  html {
    font-size: 12px;
  }
}
