@use "colors.scss";

:root {
  font-size: 20px;
  color: #fff;
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  color: colors.$anti-theme;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed;
}

a {
  color: inherit;
}

.space {
  display: inline-block;
  margin: 5px;
}

.block {
  display: inline-block;
}
.large-fading {
  animation: large-fade 600ms ease-in-out;
}
.fading {
  animation: fade 600ms ease-out;
}

@keyframes large-fade {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* LAPTOP */
@media screen and (max-width: 1400px) {
  :root {
    font-size: 17.5px;
  }
}

/* MOBILE */
@media screen and (max-width: 550px) {
  :root {
    font-size: 15px;
  }
}
