@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply text-body1 font-base font-normal;
  font-size: 16px;
  line-height: 1.25;
  scroll-padding-top: 64px;
  background-color: #e0e0e0;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: opacity 100ms ease-out;
}
a:hover {
  opacity: 0.77;
}

button {
  @apply text-button font-base font-normal;
  padding: 30px 10px;
  display: block;
  border: none;
  border-radius: 2px;
}

input {
  display: block;
  padding: 10px 16px;
  border: 1px solid black;
  color: black;
  background-color: rgba(254, 254, 254, 0.75);
  border-radius: 4px;
}


@media (min-width: 640px) {
  html,
  body {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    font-size: 19.5px;
  }
}

@media (max-width: 372px) {
  html,
  body {
    font-size: 15.5px;
  }
}
