@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  line-height: 1.15;
  @apply text-body1 font-base font-normal;
}

a {
  @apply text-inherit underline;
}

button {
  @apply border-none;
  display: block;
}

html {
  font-size: 16px;
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1560px) {
  html {
    font-size: 20px;
  }
}
