@import 'variables.scss';

@mixin inherited-font {
  font-family: inherit;
  font-size: inherit;
}

@mixin title-font {
  font-family: Roboto, 'Segoe UI', Raleway, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  color: $white;
}

@mixin secondary-font {
  font-size: 1.3rem;
  font-weight: 500;
  color: $white;
}

@mixin important-font {
  font-weight: bold;
  color: $important;
}

@mixin interactive-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  color: $interactive;
  cursor: pointer;
}

@mixin italic-font {
  font-style: italic;
  font-size: 0.9rem;
}

@mixin anchor-font {
  @include italic-font;
  color: $important;
  text-decoration: underline;
  cursor: pointer;
}