// COLOR
$theme: #0b4d13;
$white: #ffffff;
$important: #ffed9f;
$interactive: #00396D;

// FONT
$sans-serif: Roboto, 'Segoe UI', Raleway, 'Open Sans', 'Helvetica Neue', sans-serif;
$serif: "Didact Gothic", Cambria, sans-serif;
