// COLOR
$theme: #133758;
$white: #ffffff;
$important: #ffd8a5;
$interactive: #8a1133;

// FONT
$sans-serif: Roboto, 'Segoe UI', Raleway, 'Open Sans', 'Helvetica Neue', sans-serif;
$serif: "Didact Gothic", Cambria, sans-serif;
