ErrorDocument 404 /404.html

RewriteEngine on
# if not https - redirect to https
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# if there's .html - rewrite to no html      
# RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
# RewriteRule ^ /%1 [NC,L,R]

# if page isn't a file and page.html is  - redirect to html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html  -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
