.MainAdvantage {
  margin-right: 20px;
  /* margin-left: auto; */
  max-width: 200px;
  width: 100%;
  min-width: 135px;
}
.MainAdvantage:last-child {
  /* margin-right: auto; */
}

.MainAdvantage > span {
  margin-top: 10px;
  display: block;
  opacity: 0.7;
  z-index: 1;
}

.MainAdvantage > h3 {
  display: inline;
  position: relative;
  z-index: 1;
}

.Logo {
  height: 3rem;
  position: absolute;
  right: -2rem;
  bottom: 0;
  opacity: 0.4;
}

@media screen and (max-width: 550px) {
  .MainAdvantage {
    text-align: left;
    margin: 0;
    margin-top: 20px;
    max-width: 80vw;
  }
  .MainAdvantage:first-child {
    margin-top: 0
  }
  .MainAdvantage:last-child {
    margin-right: 0;
  }
}