@import '../../styles/mixins.scss';

.MainContent {
  color: white;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  width: 47.5%;
}

.MainContent > h1 {
  @include title-font
}

.MainContent section > .Close {
  margin-top: 10px;
}
