.Advantages {
  margin: 10px;
  margin-bottom: 0;
  margin-right: -35px;
}

.Advantages > h2 {
  margin-bottom: 25px;
}

.Advantages > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 18px;
}

@media screen and (max-width: 680px) {
  .Advantages {
    margin-right: 10px !important;
  }
  .Advantages > div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
