.MainAdvantage {
  margin-right: 20px;
  max-width: 12rem;
  width: 100%;
  min-width: 175px;
  margin-bottom: 15px;
}

.MainAdvantage:first-child {
  margin-right: 30px;
}

.MainAdvantage > span {
  margin-top: 6px;
  display: block;
  opacity: 0.7;
  z-index: 1;
}

.MainAdvantage > h3 {
  font-size: 1.05rem;
  display: inline;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.MainAdvantage > p {
  font-size: 0.9rem;
  opacity: 0.9;
}

.Logo {
  height: 3rem;
  position: absolute;
  right: -2rem;
  bottom: -0.15rem;
  opacity: 0.4;
}

@media screen and (max-width: 550px) {
  .MainAdvantage {
    text-align: left;
    margin: 0;
    margin-top: 20px;
    max-width: 80vw;
  }

  .MainAdvantage > span {
    margin-top: 3px;
  }

  .MainAdvantage:first-child {
    margin-top: 0;
    margin-right: 0;
  }

  .MainAdvantage:last-child {
    margin-right: 0;
  }
}