.MainContent {
  padding-top: 0;
  margin-right: 10px;
  max-width: none;
  width: 90%;
  flex: 1 0 100%;
  text-align: center;
}

.Logo {
  height: 2.25rem;
  margin-right: 0.5rem;
  transform: translateY(15%);
}

