.MainWork {
  margin: 20px 20px 10px 20px;
  width: 35%;
  max-width: 800px;
  min-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainWork > section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

.MainWork figure {
  margin: 0;
  max-width: 370px;
}

.MainWork figure:first-child {
  margin: 0;
  margin-bottom: 30px;
}

.MainWork > p {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  color: #ffd8a5;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .MainWork {
    width: 90%;
  } 
  .MainWork > section {
    justify-content: center;
  }
  .MainWork figure {
    max-width: 300px
  }
  .MainWork figure:first-child {
    margin-right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .MainWork figure:first-child {
    margin-right: 0
  } 
}