@use "../../styles/colors.scss";

.MainWork {
  margin: 0px 5px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

@media screen and (max-width: 550px) {
  .MainWork {
    margin: 0px 0 10px 0;
  }
}
