.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  margin-right: 0;
  width: 45%;
  max-width: 450px;
  min-width: 300px;
  height: auto;
  max-height: 600px;
  box-shadow: 0px 1px 12px black;
  border-radius: 50px;
  overflow: hidden;
}

.Image {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .ImageContainer {
    width: auto;
    max-width: 80vw;
    min-width: none;
    min-height: 80vw;
    max-height: none;
    border-radius: 40px;
    margin-left: 0;
  }
  .Image {
    height: auto;
  }
}