.Content {
  flex: 1 0 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem; 
}

@media screen and (max-width: 550px) {
  .MediaContent {
    flex: 1 0 auto;
    text-align: center;
    align-items: center;
  }
}