@use "sass:color" as col;
@use "../../styles/colors.scss";

.Footer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  margin-top: auto;
  background-color: rgb(16, 63, 107);
  background: linear-gradient(
    -135deg,
    colors.$theme 1%,
    col.adjust(colors.$theme, $lightness: -5%) 70%,
    colors.$theme 99%
  );
  z-index: 5;
}

.InnerFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1366px;
  height: auto;
  width: 100%;
  padding: 10px 20px;
  padding-bottom: 20px;
  font-size: 0.75rem;
}

.InnerFooter > section {
  max-width: 9.8rem;
  margin: 10px 20px;
}
.InnerFooter > section:first-child {
  margin: 10px 20px;
}

.InnerFooter > section > h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.InnerFooter > section > div {
  margin-top: 0;
}

.Soc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 95px;
  margin-bottom: 10px;
}

.Soc > a > img {
  height: 100%;
  width: 100%;
}

.Soc > a {
  width: 30px;
  height: 30px;
  transition: opacity 60ms ease-in;
}
.Soc > a:first-child {
  margin-bottom: 10px;
}

.Soc > a:hover,
.Soc > a:focus {
  opacity: 0.7;
}

@media screen and (max-width: 550px) {
  .InnerFooter {
    align-items: flex-start;
  }

  .InnerFooter > section,
  .Soc {
    margin: 10px !important;
  }

  .Soc {
    flex-direction: row;
    justify-content: center;
    max-width: 95px;
    width: 100%;
    height: 40px;
  }

  .Soc > a:first-child {
    margin: 0;
    margin-right: 10px;
  }

  .Soc > a {
    height: 100%;
  }
}

@media screen and (max-width: 350px) {
  .InnerFooter > section {
    width: 100%;
  }
}
