@use "sass:color" as col;
@use "../../styles/colors.scss";

.Header,
.HeaderSpace {
  width: 100%;
  height: 64px;
}

.Header {
  background-color: colors.$anti-theme;
  display: flex;
  justify-content: center;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
}

.InnerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  padding: 0 30px;
}

.LogoContainer,
.LogoInnerContainer {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  transform: translateY(-1px);
}

.LogoContainer:hover,
.LogoContainer:focus {
  outline: none;
  transform: scale(1.04);
}

.Logo:focus {
  outline: none;
}

.InnerHeader > span {
  display: none !important;
  height: 23px;
  width: auto;
  cursor: pointer;
  transition: transform 85ms ease-in;
}

.HamMenu:hover,
.HamMenu:focus {
  outline: none;
  transform: scaleY(1.05);
}

.Cross:hover,
.Cross:focus {
  outline: none;
  transform: scaleX(1.05);
}

.Nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

@media screen and (max-width: 710px) {
  .Nav {
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    left: 100%;
    top: 100%;
    height: 100vh;
    margin-left: auto;
    padding-top: 5px;
    background-color: col.change(colors.$anti-theme, $alpha: 0.95);
    flex-direction: column;
    transition: transform 0.2s ease-out;
    width: 100%;
    padding-top: 75px;
  }

  .Nav > a {
    min-width: max-content;
    max-width: 100vw;
    padding: 20px 25px;
    margin: 10px 0;
    text-align: center;
  }

  .Nav > a:hover {
    outline: none;
  }

  .Nav > a:hover > p {
    text-decoration: underline;
  }
  .Nav > a:focus {
    outline: 2px dashed colors.$theme;
  }

  .Nav > a > p {
    font-size: 1.5rem;
  }

  .Nav__active {
    transform: translatex(-100%);
  }

  .InnerHeader > span {
    display: block !important;
  }

  .LogoContainer {
    margin-left: 12.5px;
    margin-top: 2px;
  }
}
