.ImageContainer {
  width: 450px;
  height: 600px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 20px;
  box-shadow: 0px 1px 12px black;
}

.Image {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .ImageContainer {
    max-width: 80vw;
    width: 80vw;
    height: 80vw;
    border-radius: 40px;
    margin-left: 0;
  }
}