.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #E9E9E9;
  overflow-x: hidden;
}