@use "sass:color" as col;
@use "../../../src/styles/colors.scss";

.PageSpace {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(16, 63, 107);
  background: linear-gradient(
    135deg,
    colors.$theme,
    col.adjust(colors.$theme, $lightness: -5%) 60%,
    colors.$theme
  );
  background-blend-mode: multiply;
  margin-bottom: 30px;
}

.Page {
  width: 100%;
  max-width: 1366px;
  min-height: 500px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.Spaced {
  padding-top: 35px;
}
.NotSpaced {
  padding-top: 20px;
}

.Title {
  position: absolute;
  left: 20px;
  top: 20px;
}

@media screen and (max-width: 550px) {
  .PageSpace {
    height: auto;
  }
  .Page {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 3px;
    padding-left: 3px;
  }
  .Spaced {
    padding-top: 35px;
  }
  .Title {
    top: 15px;
    left: 10px;
  }
}
