.PageSpace {
  width: 100%;
  height: 704px;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #133758, #444c78 60%, #133758);
  margin-bottom: 30px;
}

.Page {
  width: 100%;
  max-width: 1366px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Title {
  position: absolute;
  left: 10px;
  top: 20px;
}

@media screen and (max-width: 550px) {
  .PageSpace {
    height: auto;
  }
  .Page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}