@use "../../styles/colors.scss";

@keyframes jump {
  from {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fall {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.support {
  width: 4.5rem;
  height: 4.5rem;
  max-width: 90px;
  max-height: 90px;
  border-radius: 50%;
  position: fixed;
  right: 2rem;
  bottom: 1.6rem;
  z-index: 100;
}

.stack {
  position: absolute;
  bottom: 110%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  height: 330%;
  transform: translateY(100%);
  opacity: 0%;
  display: none;
}

.expanding {
  display: flex;
  animation: appear 500ms 0ms ease-in-out forwards,
    jump 500ms 0ms ease-in-out forwards;
}

.unexpanding {
  animation: fall 500ms 0ms ease-out forwards,
    disappear 500ms 0ms ease-out forwards;
  display: flex;
}

.unexpanded {
  transform: translateY(100%);
  opacity: 0%;
  display: none;
}
.expanded {
  transform: translateY(0);
  opacity: 100%;
  display: flex;
}

.support img:hover,
.support a:focus {
  outline: none;
  transition: transform 60ms ease-in;
  transform: scale(1.03);
}

.support img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.bg {
  border: 2px solid white;
  background-color: white;
  animation: light 1800ms ease-in-out infinite;
}

@keyframes light {
  from {
    box-shadow: 0px 0px 7px 3px colors.$anti-theme;
  }
  50% {
    box-shadow: 0px 0px 10px 5px colors.$anti-theme;
  }
  to {
    box-shadow: 0px 0px 7px 3px colors.$anti-theme;
  }
}

.message {
  width: 18rem;
  max-width: 90vw;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  right: 95%;
  bottom: 95%;
  border-bottom-right-radius: 0;
  padding: 10px 12px;
  box-shadow: 1px 1px 5px black;
  transition: 500ms opacity ease-in;
}

.unshown {
  display: none;
}

.unshowing {
  opacity: 0%;
}

.shown {
  opacity: 100%;
  display: block !important;
}

.message > p {
  margin-top: 3px;
}

@media screen and (max-width: 550px) {
  .message {
    font-size: 0.9rem;
    max-width: 250px;
    width: 90vw;
    right: 35%;
    bottom: 115%;
  }
  .support {
    right: 15px;
    bottom: 20px;
    width: 60px;
    height: 60px;
  }
  @keyframes light {
    from {
      box-shadow: 0px 0px 6px 2.5px colors.$anti-theme;
    }
    50% {
      box-shadow: 0px 0px 7px 4px colors.$anti-theme;
    }
    to {
      box-shadow: 0px 0px 6px 2.5px colors.$anti-theme;
    }
  }
}
