@import '../../styles/mixins.scss';

.Question {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  // position: absolute;
  // left: 50%;
  // top: 20px;
  // transform: translateX(-50%);
}

.Question > h2 {
  @include interactive-font;
}