.ErrorPage {
  text-align: right;
  flex-wrap: nowrap;
  width: 80%;
}

.ErrorPage > div > h2 {
  line-height: 1.4em;
}

.ErrorPage > div > p {
  margin-top: 10px;
}

.Arrow {
  transform: rotate(90deg) translateX(-25px);
  margin: 25px 0;
  width: 4rem;
}

@media screen and (max-width: 550px) {
  .Arrow {
    transform: rotate(90deg);
  }
  .ErrorPage {
    flex-direction: column-reverse;
    text-align: center;
  }
}
