@use "../../styles/colors.scss";
.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 !important;
  height: 270px;
  width: 100%;
}

.images > div {
  flex-shrink: 1;
  overflow: hidden;
  width: 50%;
  height: 50%;
  position: relative;
  border: 2px solid colors.$interact;
}

.images > div > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ver {
  align-items: stretch;
}

.hor {
  justify-content: stretch;
}

.ver > img {
  height: auto;
  width: 99%;
}

.hor > img {
  height: 99%;
  width: auto;
}

// TWO ITEMS
// hor + ver
.hor:nth-child(1):nth-last-child(2) {
  width: 60%;
  height: 100%;
}
.ver:nth-child(2):nth-last-child(1) {
  width: 40%;
  height: 100%;
}

// ver + hor
.ver:nth-child(1):nth-last-child(2) {
  width: 40%;
  height: 100%;
}
.hor:nth-child(2):nth-last-child(1) {
  width: 60%;
  height: 100%;
}

// hor + hor
.hor:nth-child(1):nth-last-child(2),
.hor:nth-child(2):nth-last-child(1) {
  width: 100%;
  height: 50%;
}

// ver + ver
.ver:nth-child(1):nth-last-child(2),
.ver:nth-child(2):nth-last-child(1) {
  width: 50%;
  height: 100%;
}

/* THREE ITEMS */
.images > div:nth-child(1):nth-last-child(3) {
  height: 100%;
  width: 55%;
}

.images > div:nth-child(2):nth-last-child(2),
.images > div:nth-child(3):nth-last-child(1) {
  width: 45%;
  height: 50%;
}

@media screen and (max-width: 550px) {
  .images {
    height: 70vw;
  } 
}