@use "../../styles/colors";

.work {
  width: 45vw;
  min-width: 400px;
  max-width: 430px;
  background-color: colors.$interact;
  padding: 10px 5px 15px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 5px;
  flex: 1 1 30%;
}

.work figcaption {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.left {
  padding-left: 5px;
  width: 80%;
}

.right {
  padding-right: 5px;
  margin-left: auto;
  align-items: flex-end;
  width: 20%;
}

.work > button {
  margin-top: 15px;
}

.colors {
  display: flex;

  div {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(163, 126, 105);
  }
  div:first-child {
    background-color: rgb(28, 59, 59);
  }
  div:last-child {
    background-color: rgb(53, 28, 59);
  }
}

@media screen and (max-width: 550px) {
  .work {
    min-width: 200px;
    flex-basis: 100%;
  }  
}