@use "../../styles/colors";

.work {
  width: 45vw;
  min-width: 400px;
  max-width: 430px;
  background-color: colors.$background-work;
  padding: 10px 5px 15px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 5px;
  flex: 1 1 30%;
}

.work figcaption {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.left {
  padding-left: 5px;
  width: 75%;
}

.left > h2 {
  z-index: 1;
  font-size: 1.2rem;
  line-height: 1.04em;
  margin-bottom: 3px;
}

.left > p {
  font-size: 0.9rem;
}

.right {
  padding-right: 5px;
  margin-left: auto;
  align-items: flex-end;
  width: 25%;
}

.price {
  width: 7em;
}

.price > * {
  float: right;
  text-align: right;
}

.price > b {
  font-size: 1.15rem;
}

.price > small {
  display: block;
  margin-top: -0.3em;
  color: colors.$bold;
  font-size: 0.8rem;
}

.work > a {
  margin-top: 15px;
  font-size: 1.05rem;
  padding: 10px 15px;
  border-radius: 10px;
}

.colors {
  display: flex;

  div {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(163, 126, 105);
  }
  div:first-child {
    background-color: rgb(28, 59, 59);
  }
  div:last-child {
    background-color: rgb(53, 28, 59);
  }
}

@media screen and (max-width: 550px) {
  .work {
    min-width: 200px;
    flex-basis: 100%;
  }
}
