.WorksContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 55px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .WorksContent {
    margin-top: 30px;
  }   
}