.Work {
  width: 350px;
  height: 250px;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 95%;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.ImageContainer > img {
  display: inline-block;
  object-fit: cover; 
  border: 1px solid white;
  width: 40%;
  height: 50%;
}

/* ONE ITEM */
.ImageContainer > img:first-child:last-child {
  width: 100%;
  height: 100%;
}

/* TWO ITEMS */
.ImageContainer > img:first-child:nth-last-child(2), 
.ImageContainer > img:nth-child(2):last-child {
  height: 100%;
  width: 50%;
}

/* THREE ITEMS */
.ImageContainer > img:first-child:nth-last-child(3) {
  height: 100%;
  width: 60%;
}

/* FOUR ITEMS */
.ImageContainer > img:first-child:nth-last-child(4),
.ImageContainer > img:nth-child(2):nth-last-child(3),
.ImageContainer > img:nth-child(3):nth-last-child(2),
.ImageContainer > img:nth-child(4):last-child {
  width: 50%;
}
