figure.Work {
  min-height: 220px;
  max-width: 380px;
  min-width: 350px;
  margin: 0 25px;
  margin-bottom: 50px;
}

figure.Work:first-child {
  margin: 0 25px;
  margin-bottom: 50px;
}

.Work > figcaption > h2 {
  color: #133758;
}

.Work > figcaption > p {
  opacity: 0.9;
}

.Desc {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Desc button {
  border-radius: 10px;
}

.DescSec {
  display: flex;
  flex-direction: column;
}

.Colors {
  display: flex;
  align-self: flex-end;
  margin-bottom: 10px;
}

.Colors > div {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.5rem;
  border-radius: 10px;
}

.Colors > div:first-child {
  margin-left: 0;
}
