* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  color: #fff;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LAPTOP */
@media screen and (max-width: 1400px) {
  :root {
    font-size: 15px
  }
}

/* MOBILE */
@media screen and (max-width: 800px) {
  :root {
    font-size: 10px
  }
}

  
