.ContactsSection {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-height: 3rem;
}

.Text {
  text-align: right;
  position: relative;
  z-index: 1;
}

.Logo {
  position: absolute;
  top: -25%;
  left: -10%;
  width: 3rem;
  height: auto;
  opacity: 0.4;
}

.Location {

}