.ContactsSection {
  margin-bottom: 25px;
  max-width: 99%;
}

.Text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  width: auto;
  z-index: 1;
  text-align: right;
  width: fit-content;
  max-width: 500px;
}

.Text > *:first-child {
  margin-right: 0.4em;
}

.Logo {
  position: absolute;
  right: 90%;
  bottom: -5px;
  height: 2.5rem;
  width: auto;
  opacity: 0.4;
}

.Key {
  position: relative;
}

@media (max-width: 550px) {
  .Logo {
    display: none;
  }

  .Text {
    justify-content: flex-start;
    text-align: left;
    padding-left: 10px;
    max-width: 430px;
    margin-left: 0;
  }

  .ContactsSection {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
