.ContactsSection {
  position: relative;
  height: 3rem;
  width: auto;
}

.Text {
  text-align: right;
  position: relative;
  z-index: 2;
}

.Logo {
  position: absolute;
  top: -25%;
  left: -10%;
  width: 3rem;
  height: auto;
  z-index: 1;
  opacity: 0.4;
}

.Location {

}