@import '../../styles/mixins.scss';

.AntiButton {
  background-color: #8a1133; 
  border: none;
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
}

.AntiButton > p {
  @include interactive-font;
  color: white;
}