@import '../../styles/mixins.scss';

.AntiButton {
  background-color: #0180f7bf; 
  border: none;
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 50ms ease-in;
}

.AntiButton > p {
  transition: transform 50ms ease-in
}

.AntiButton:hover, .AntiButton:focus {
  transform: scalex(1.1);
}

.AntiButton:hover > p {
  transform: scalex(0.9);
}

.AntiButton > * {
  @include interactive-font;
  color: white;
}