@import '../../styles/mixins.scss';

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Label {
  margin-bottom: 10px;
}

.Input {
  @include interactive-font;
  font-family: Roboto, 'Segoe UI', Raleway, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 2.2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.Input::placeholder {
  opacity: 0.7;
}