@import '../../styles/mixins.scss';

.Button {
  @include interactive-font;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 7.5px 10px;
  transition: transform 50ms ease-in;
}
.Button:hover, .Button:focus {
  transform: scale(1.03);
}