@import '../../styles/mixins.scss';

.Button {
  @include interactive-font;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 7px 10px;
  transition: transform 50ms ease-in;
}

.Button > p {
  transition: transform 50ms ease-in;
}

.Button:hover, .Button:focus {
  transform: scalex(1.1);
}

.Button:hover > p {
  transform: scalex(0.9);
}