@import '../../styles/variables.scss';

div.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  color: $theme;
  padding: 20px;
}

.Modal > h2 {
  color: $theme
}