@use "../../styles/colors.scss";
@use "../../styles/mixins";

.Link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  transition: outline-offset 0.1s ease-out;
  line-height: 1.07em;
  cursor: pointer;
}

.Link:hover {
  outline-offset: -1px;
  outline: 2px dashed colors.$theme;
}

.Link:focus {
  outline-offset: -2px;
  outline: 3px solid colors.$theme;
}

.Link:active,
.Link:visited {
  font-weight: bold;
  color: colors.$theme;
}

.Link > div {
  @include mixins.interactive-font;
}

.black {
  background-color: colors.$anti-theme;
}

@media screen and (max-width: 710px) {
  .black {
    background-color: transparent;
  }
}
