.Section {
  margin-top: 30px;
}
.Section:first-child {
  margin-top: 0
}

.Horizontal {
  margin-left: 30px;
}
.Horizontal:first-child {
  margin-left: 0
}

.Close {
  margin-top: 20px;
}
.CloseHorizontal {
  margin-left: 20px
}

.Section > div {
  margin-top: 10px;
}

.Centered {
  text-align: center;
}

@media screen and (max-width: 550px) {
  .Section {
    width: 100%;
    margin-top: 20px;
  } 
  .Close {
    margin-top: 10px;
  }

  .Section > div, .Horizontal > div {
    margin-top: 10px;
  }
}