@use '../../styles//mixins.scss';

.Title {
  @include mixins.title-font;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 10px;
  padding: 0 5px;
}

@media screen and (max-width: 550px) {
  .Title {
    font-size: 1.5rem;
    line-height: 1.1em;
  } 
}